@page "/login"
@using System.Net.Http.Json
@using CRMS.Application.DTOs
@using CRMS.Blazor.Services
@inject HttpClient HttpClient
@inject NavigationManager NavManager


<h3>Login</h3>

<div>
    <label for="username">Username:</label>
    <input id="username" @bind="username" />
</div>
<div>
    <label for="password">Password:</label>
    <input id="password" @bind="password" type="password" />
</div>
<div>
    <button @onclick="LoginHandle">Login</button>
</div>

@code {
    [Inject]
    public ApiService ApiService { get; set; }
    private string username;
    private string password;

    private async Task LoginHandle()
    {
        
        var loginRequest = new UserLoginRequestDTO
            {
                Username = username,
                Password = password
            };

        try
        {
            
            var response = await HttpClient.PostAsJsonAsync("/api/authenticate/login", loginRequest);

            if (response.IsSuccessStatusCode)
            {
               
                var responseObject = await response.Content.ReadFromJsonAsync<ResponseDTO>();

                
                if (responseObject != null && responseObject.Status == "Success")
                {
                    NavManager.NavigateTo("/home");
                }
                else
                {
                    
                }
            }
            else
            {
                
            }
        }
        catch (Exception ex)
        {
            
        }
    }
}
