<div class = "container-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary"></i>Customers</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-success">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i>Complaints</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"></i>Pending</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i>Feedback</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark">
                <div class="card-header"><i class="bi bi-slack text-dark"></i>Completed</div>
            </div>
        </div>
    </div>
</div>